.drum-pad {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  box-shadow: black 3px 3px 5px;
  margin: 10px 5px 5px 5px;

  &:active {
    background-color: aquamarine;
    box-shadow: aquamarine 0 3px ;
  }
}
