#display {
  padding: 10px 20px;
  margin-top: 5px;
  width: 100px;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #71d4fe;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid #71d4fe;
}
