#drum-machine {
  width: 600px;
  position: relative;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  align-self: center;
  z-index: 4;
  border-radius: 6px;
  background: rgba(209, 209, 209, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(209, 209, 209, 0.3);
}

.left-hand-group {
  display: flex;
  flex-direction: column;
}
